<br />
<br />

<html>
 <!--   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
          <%= image_tag 'slider4.jpg', class: 'img-fluid' %>
          <div class="carousel-caption">
          Come home to the beauty of nature.
          </div>
        </div>
        <div class="carousel-item">
          <%= image_tag 'slider5B.jpg', class: 'img-fluid' %>
          <div class="carousel-caption">
          Build health from deep inside.
          </div>
        </div>

        <div class="carousel-item">
           <%= image_tag 'slider3B.jpg', class: 'img-fluid' %>
          <div class="carousel-caption">
            Bloom where you are.
            </div>
        </div>

      </div>
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </d -->iv>
<!-- <h1 class='text-center'>Welcome to My Awesome Website!</h1>
</ -->html>

